<h2>Create a username and password, and start your diary right away!</h2>

  <form method="POST" action="/signup">
    <lable for="name"> Username:</lable>
    <input type="text" name="username">
    <lable for="password"> Password:</lable>
    <input type="text" name="password">
    <input type="submit" value="Join!">
  </form>
