<h2 class="question_text">Create a username and password, and start your diary right away!</h2>
<div class=login_box>
  <form method="POST" action="/signup">
    <lable for="name"> Username:</lable>
    <input type="text" name="username"><br>
    <lable for="password"> Password:</lable>
    <input type="text" name="password"><br>
    <input type="submit" value="Join!">
  </form>
</div>
