<h2> Where have you been? Where are you going?</h2>
<h3>Login to add entries to your diary!</h3>
<div class="login_box">
<form method="POST" action="/login">
  <lable>Username:</lable>
  <input type="text" name="username"><br>
  <lable>Password:</lable>
  <input type="text" name="password"><br>
  <input type="submit" value="Login">
</form>
</div>
