<h1> The new restaurant for your wish list. </h1>
  <form method="POST" action="/unvisited/new">
    <lable>Name of the Restaurant.</lable>
    <input type="text" name="name"><br>
    <lable>Location.</lable>
    <input type="text" name="location"><br>
    <input type="submit" value="Submit">
  </form>
