<h1> The new restaurant for your wish list. </h1>
<div class="login_box">
  <form method="POST" action="/unvisited_restaurants">
    <lable>Restaurant Name: </lable>
    <input type="text" name="name"><br>
    <lable>Location: </lable>
    <input type="text" name="location"><br>
    <input type="submit" value="Submit">
  </div>
  </form>
