<div class="question_text"><h2> Where have you been? Where are you going?</h2></div>
<div class="login_box">
  <form method="text" action="/signup">
    <a class="button" href='/login'>Login<a><br>
    <a class="button" href='/signup'>Sign Up</a>
  </form>
</div>
