<!doctype html>
<html>
  <head>
    <title>My Restaurant Diary.</title>
  </head>
  <body>

    <div class="container">
      <h1>My Restaurant Diary.</h1>
      <%=yield%>
    </div>

  </body>
</html>
