<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheet/styles.css" type="text/css"/>
    <title>My Restaurant Diary.</title>
  </head>
  <body>
      <h1 id="restaurant_diary">My Restaurant Diary.</h1>
      <% if flash.has?(:message) %>
      <%= flash[:message] %>
      <% end %>
      <%=yield%>
  </body>
</html>
