<h1> The new restaurant for your wish list. </h1>
  <form method="POST" action="/unvisited">
    <lable>Name of the Restaurant:</lable>
    <input type="text" name="name"><br>
    <lable>Location:</lable>
    <input type="text" name="location"><br>
    <lable> My thoughts: </lable>
    <input type="text" name="my_thoughts">
    <lable> Rating: </lable>
    <input type="radio" name="rating" value="A"> A<br>
    <input type="radio" name="rating" value="B"> B<br>
    <input type="radio" name="rating" value="C"> C<br>
    <input type="radio" name="rating" value="D"> D<br>
    <input type="radio" name="rating" value="F"> C<br>
    <input type="submit" value="Submit">
  </form>
