<h1 class="question_text"> Add a restaurant to your diary. </h1>
  <form class="form_box" method="POST" action="/visited_restaurants">
    <lable>Name of the Restaurant:</lable><br>
    <input type="text" name="name"><br>
    <lable>Location:</lable><br>
    <input type="text" name="location"><br>
    <lable> My thoughts: </lable><br>
    <textarea rows="6" cols="25" name="thougts"></textarea><br>
    <lable> Rating: </lable><br>
    <input type="radio" name="rating" value="A"> A<br>
    <input type="radio" name="rating" value="B"> B<br>
    <input type="radio" name="rating" value="C"> C<br>
    <input type="radio" name="rating" value="D"> D<br>
    <input type="radio" name="rating" value="F"> C<br>
    <input type="submit" value="Submit">
  </form>
